:root {
    --onyx: #474448ff;
    --raisin-blue: rgb(158, 36, 166);
    --deep-purple: rgb(76, 55, 191);
    --cool-gold: rgb(208, 194, 133);
    --rose-quartz: rgb(153, 107, 148);
    --royal-blue: rgb(36, 36, 166);
}

.center-image {
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.center-image img {
    max-width: 100%; /* Ensure the image doesn't exceed its container */
    max-height: 100%; /* Ensure the image doesn't exceed its container */
}

h2 {
    font-size: 200%;
    text-align: center;
}

.about-section {
    margin-top: 150px;
    /* padding-left: 100px; */
    position: absolute;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    color: rgb(36, 36, 166);
    max-width: 50vw;
}

p {
    font-size: 100%;
}

.skill-badge img {
    height: 150px;
    width: 150px;
}

