:root {
    --onyx: #474448ff;
    --raisin-black: #2d232eff;
    --bone: #e0ddcfff;
    --cool-gray: #9a94bcff;
    --rose-quartz: #9888a5ff;
}

.contact-div {
    margin-top: 150px;
    padding-left: 100px;
    position: absolute;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    color: var(--raisin-black);
    max-width: 50vw;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-error {
    color: red;
}