:root {
    --onyx: #474448ff;
    --raisin-black: #2d232eff;
    --bone: #e0ddcfff;
    --cool-gray: #9a94bcff;
    --rose-quartz: #9888a5ff;
}

header {
    background:var(--raisin-black);
    color: var(--bone);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 140%;
}

h1 {
    padding: 20px;
    padding-right: 60px;
    width: fit-content;
    white-space: nowrap;
}