:root {
    --onyx: #474448ff;
    --raisin-black: #2d232eff;
    --bone: #e0ddcfff;
    --cool-gray: #9a94bcff;
    --rose-quartz: #9888a5ff;
}

nav {
    display: flex;
    justify-content: space-around;
    width: 90%;
    padding-right: 60px;
}

.navbar-link {
    color: var(--bone);
    text-decoration: none;
}

.navbar-link:hover {
    color: var(--cool-gray);
}