:root {
    --onyx: #474448ff;
    --raisin-blue: rgb(158, 36, 166);
    --bone: rgb(208, 194, 133);
    --cool-gray: #9a94bcff;
    --rose-quartz: #9888a5ff;
}

nav {
    display: flex;
    justify-content: space-around;
    width: 90%;
    padding-right: 60px;
}

.navbar-link {
    color: var(--bone);
    text-decoration: none;
}

.navbar-link:hover {
    color: var(--cool-gray);
}