:root {
    --onyx: #474448ff;
    --raisin-black: #2d232eff;
    --bone: #e0ddcfff;
    --cool-gray: #9a94bcff;
    --rose-quartz: #9888a5ff;
}

footer  {
    background:var(--bone);
    color: var(--raisin-black);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 250%;

}

.social-icon {
    color: var(--raisin-black);
}

.social-icon:hover {
    color:var(--cool-gray)
}