:root {
    --onyx: #474448ff;
    --raisin-blue: rgb(158, 36, 166);
    --deep-purple: rgb(76, 55, 191);
    --cool-gold: rgb(208, 194, 133);
    --rose-quartz: rgb(153, 107, 148);
    --royal-blue: rgb(36, 36, 166);
}

footer  {
    background:var(--bone);
    color: var(--raisin-black);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 250%;

}

.social-icon {
    color: var(--raisin-black);
}

.social-icon:hover {
    color:var(--cool-gray)
}